<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminTemplate">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
</head>
<body>
<div layout:fragment="main">
    <div class="form-control">
        <form method="post" action="/secured/addGenre" >
            <div class="card-form">
                <div class="add-movie-form">
                    <label class="label-form" for="genreName">Genre : </label>
                    <input class="input-form" type="text" placeholder="Genre ..." id="genreName" name="genreName">

                </div>
                <div class="btn-container">
                    <button class="btn btn-form btn-add" type="submit">Add</button>
                    <button class="btn btn-form btn-cancel" type="reset">Cancel</button>
                </div>

            </div>


        </form>
    </div>
</div>
</body>
</html>