<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminTemplate">
<head>
    <meta charset="UTF-8">
    <title>Movie Projection</title>
</head>
<body>
<div layout:fragment="main">
    <div class="item-container">
        <table class="item-table">
            <thead class="item-table-head">
            <tr class="row">
                <th>Id</th>
                <th>Date of Projection</th>
                <th>Movie Title</th>
                <th>Room</th>
                <th>Price</th>
                <form method="get" action="/secured/listMovieProjection">
                    <th style="text-align: right; padding: .8rem 0;"><input type="search" th:value="${keyword== -1.0 ? '' : keyword}" placeholder="search by price" name="keyword" id="key"></th>
                    <th style="text-align: left;padding: .8rem 0;"><button type="submit">Search</button></th>
                </form>

            </tr>
            </thead>
            <tbody class="item-table-body">
            <tr class="row" th:each="movieProj : ${movieProjections}">
                <td th:text="${movieProj.getId()}"></td>
                <td th:text="${movieProj.getProjectionDate()}+' '+${movieProj.getSeance().getScheduled()}"></td>
                <td th:text="${movieProj.getMovie().getTitle()}"></td>
                <td th:text="${movieProj.getRoom().getName()}"></td>
                <td th:text="${movieProj.getPrice()}+' Dh'"></td>
                <td><a class="link-btn link-btn-delete" th:href="@{deleteMovieProjection(id=${movieProj.getId()})}">Delete</a></td>
                <td><a class="link-btn link-btn-update" th:href="@{addMovieProjection(id=${movieProj.getId()})}">Update</a></td>
            </tr>
            </tbody>
            <tfoot>
            <ul class="page">

            </ul>
            </tfoot>

        </table>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let pagesNb =  /*[[${pagesNb}]]*/ 1;
        let size = /*[[${size}]]*/ 2;
        let keyword = /*[[${keyword}]]*/ '';
        let url = '/secured/listMovieProjection?size='+size+'&keyword='+keyword+'&page=';
        const pages = [];
        for (let i = 0; i < pagesNb; i++) {
            pages.push(url);
        }

        /*]]>*/
    </script>
</div>
</body>
</html>