<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminTemplate">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
</head>
<body>
<div layout:fragment="main">
    <div class="item-container">
        <table class="item-table">
            <thead class="item-table-head">
            <tr class="row">
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th style="text-align: right; padding: .8rem 0;"><input type="search" name="key" id="key"></th>
                <th style="text-align: left;padding: .8rem 0;"><button>Search</button></th>
            </tr>
            </thead>
            <tbody class="item-table-body">
            <tr class="row" th:each="cinema : ${cinemas}">
                <td th:text="${cinema.getId()}"></td>
                <td th:text="${cinema.getName()}"></td>
                <td th:text="${cinema.getCity().getName()}"></td>
                <td><a class="link-btn link-btn-delete" th:href="@{deleteCinema(id=${cinema.getId()})}">Delete</a></td>
                <td><a class="link-btn link-btn-update" href="#">Update</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>